{% extends "layout.html" %}

{% import 'time_select.html' as time %}

{% block head %}

    <script src="{{ url_for('bower.static', filename='clockpicker/dist/bootstrap-clockpicker.min.js') }}"></script>
    <link rel=stylesheet type=text/css
          href="{{ url_for('bower.static', filename='clockpicker/dist/bootstrap-clockpicker.min.css') }}">

    <script src="{{ url_for("static",filename='js/controls.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for("static", filename='sass/control.css') }}">
{% endblock %}W


{% block body %}
    <div class="fuelux">

        <div class="wizard" data-initialize="wizard">
            <ul class="steps">
                <li data-step="1" data-name="1" class="active"><span class="badge">1</span>Lichter<span
                        class="chevron"></span></li>
                <li data-step="2" data-name="2"><span class="badge">2</span>Zeitspanne<span class="chevron"></span></li>
                <li data-step="3" data-name="3"><span class="badge">3</span>Zusammenfassung<span class="chevron"></span>
                </li>
            </ul>
            <div class="actions">
                <button id="previous" type="button" class="btn btn-default btn-prev"><span
                        class="glyphicon glyphicon-arrow-left"></span>Zurück
                </button>
                <button id="next" type="button" class="btn btn-default btn-next disabled" data-last="Abschließen">Weiter<span
                        class="glyphicon glyphicon-arrow-right"></span></button>
            </div>


            <div class="step-content" style="overflow:visible">
                <div class="step-pane active sample-pane" data-step="1">
                    <h4>Wähle Lichter or Bereiche</h4>

                    <div class="checkbox">
                        {% for device in devices %}
                            <div class="col-md-2 device-checkbox">
                                <label class="checkbox-custom" data-initialize="checkbox">
                                    <input class="light-selection sr-only"
                                            {% if n == 1 %}
                                           checked="checked"
                                            {% endif %} name="radioEx1" type="checkbox" value="{{ device.short_name }}">
                                    {{ device.display_name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <p></p>
                </div>
                <div class="step-pane" data-step="2">
                    <h4>Wähle eine Zeitspanne</h4>

                    {% include("scheduler.html") %}

                    <p></p>
                </div>
                <div class="step-pane sample-pane" data-step="3">
                    <h4>Zusammenfassung</h4>

                    <p id="summary">
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="well well-sm" style="margin-top: 30px">
        <strong>Alle Regeln</strong>
    </div>

    <div id="rules" class="list-group">
        {% for rule in rules %}
            <div id="{{ rule.uuid }}" class="item list-group-item col-xs-4 col-lg-4">

                <div class="caption" style="word-wrap: break-word;">

                    <div style="margin-bottom: 15px">
                        <h4 class="group inner list-group-item-heading">
                            Regel {{ rule.action }}
                            <button class="remove btn btn-default pull-right glyphicon glyphicon-remove"></button>
                        </h4>
                    </div>

                    <div class="group inner list-group-item-text">

                        <div class="pull-left">
                            <div>
                                {{ time.to_weekday(rule.weekday) }}
                            </div>
                            <div>
                                {{ rule.time }}
                            </div>
                        </div>

                        <div class="pull-right">
                            {% for device in rule.devices %}
                                <div>
                                    {{ device.display_name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}