<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>Garden Lighting</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='fuelux/dist/js/fuelux.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='toastr/toastr.min.js') }}"></script>
    {% block head %}{% endblock %}


    <link rel=stylesheet type=text/css
          href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='fuelux/dist/css/fuelux.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('bower.static', filename='fontawesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('bower.static', filename='toastr/toastr.min.css') }}">


    <link rel=stylesheet type=text/css href="/static/sass/layout.css">
</head>
<body>
<header class="navbar navbar-default navbar-fixed-top garden-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".garden-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand">Garden Lighting</a>
        </div>


        <nav role="navigation">

            <ul class="nav navbar-nav collapse navbar-collapse garden-navbar-collapse">
                <li {% if request.path == "/areas/" %}
                    class="active"
                {% endif %}>
                    <a href="/areas/">Bereiche</a>
                </li>
                <li {% if request.path == "/all_lights/" %}
                    class="active"
                {% endif %}>
                    <a href="/all_lights/">Alle Lichter</a>
                </li>
                <li class="{% if request.path == "/controls/" %}
                    active
                {% endif %} hidden-sm hidden-md hidden-lg">
                    <a href="/controls/">Einstellungen</a>
                </li>
            </ul>


            <div class="nav navbar-nav navbar-right hidden-xs">
                <li{% if request.path == "/controls/" %}
                    class="active"
                {% endif %}>
                    <a id="cogs" class="fa icon-cogs" href="/controls/"></a>
                </li>
            </div>

        </nav>

    </div>
</header>
<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>