{% extends "layout.html" %}

{% import 'components.html' as components %}


{% block head %}
    <script src="{{ url_for('static', filename='js/lights.js') }}"></script>
    <link rel=stylesheet type=text/css href="/static/sass/lights.css">

{% endblock %}


{% block body %}
    <div class="container fuelux">
        <div class="well well-sm">

            <strong>{{ name }}</strong>

            <div class="pull-right">
                <button id="all_on" class="btn btn-success">Alle An</button>
                <button id="all_off" class="btn btn-danger">Alle Aus</button>
            </div>

            {#            <div class="pull-right" style="margin-right: 80px">#}
            {#                <div class="pull-left row-contents">Einstellungen in</div>#}
            {#                <div class="pull-left row-contents">#}
            {#                    {{ components.spinbox(classes="spinbox_") }}#}
            {#                    <div class="pull-left row-contents">Minuten, für</div>#}
            {#                    <div class="pull-left row-contents">#}
            {#                        {{ components.spinbox(classes="spinbox_") }}#}
            {#                    </div>#}
            {#                    <div class="pull-left row-contents">Minuten</div>#}
            {##}
            {#                </div>#}
            {#            </div>#}
        </div>

        <div id="lights" class="list-group">
            {% for device in devices %}
                <div class="item list-group-item col-xs-4 col-lg-4">

                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{ device.name }}</h4>

                        <div class="row" id="row_{{ device.short_name }}" style="font-size: smaller">

                            <div class="pull-right row-contents" style="margin-top: -3px">
                                <button id="light-switch-{{ device.short_name }}" class="light-switch btn btn-danger"
                                        style="width: 120px">Anschalten
                                </button>
                            </div>


                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}