{% extends "layout.html" %}


{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% include "lights.js" %}
        });
    </script>
    <link rel=stylesheet type=text/css href="/static/sass/lights.css">
{% endblock %}


{% block body %}
    <div style="display: inline">
    {% for n in range(1,amount) %}
    <div class="tile off">
        <div class="name">Garten #{{ n }}</div>
        <div class="status">Aus</div>
    </div>
    {% endfor %}
    </div>
{% endblock %}