{% import 'time_select.html' as week %}
{% import 'components.html' as components %}


<div class="row">
    <label class="col-sm-3">Start:</label>
    {{ week.weekdays("col-md-4") }}

    {{ week.time("col-md-3") }}
</div>

<div class="row">
    <label class="col-sm-3">Für:</label>

    <div id="duration" class="col-md-8">

        {{ components.spinbox("hours") }}

        <div class="pull-left duration-text">Stunden</div>

        {{ components.spinbox("minutes") }}

        <div class="pull-left duration-text">Minuten</div>
    </div>
</div>


<div class="row" style="margin-top: 50px">
    <label class="col-sm-3">Start:</label>
    {{ week.weekdays("col-md-4", "radio") }}
    {{ week.time("col-md-3") }}
</div>
<div class="row">
    <label class="col-sm-3">Ende:</label>
    {{ week.weekdays("col-md-4", "radio") }}
    {{ week.time("col-md-3") }}
</div>


<script type="text/javascript">
    $('.clockpicker').clockpicker();
</script>
