Von:<br>
<fieldset class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
        <input type="checkbox" data-value="SU">Sun
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="MO">Mon
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="TU">Tue
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="WE"> Wed
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="TH"> Thu
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="FR"> Fri
    </label>
    <label class="btn btn-default">
        <input type="checkbox" data-value="SA"> Sat
    </label>
</fieldset>


<div class="input-group clockpicker">
    <input type="text" class="form-control" value="09:30">
    <span class="input-group-addon">
        <span>Done</span>
    </span>
</div>

Für:<br>
<div>
<input type="text" class="form-control" value="0"> Stunden und <input type="text" class="form-control" value="0"> Minuten
</div>
<script type="text/javascript">
    $('.clockpicker').clockpicker();
</script>
