{% import 'time_select.html' as week %}
{% import 'components.html' as components %}


<div class="row">

    {#    Avoid selection of element#}
    <input class="hidden">

    <label class="col-sm-3">Start:</label>
    {{ week.weekdays("col-md-4 start") }}

    {{ week.time("col-md-3", "start-time") }}
</div>

<div class="row">
    <label class="col-sm-3">Für:</label>

    <div id="duration" class="col-md-8">

        {{ components.spinbox("hours") }}

        <div class="pull-left duration-text">Stunden</div>

        {{ components.spinbox("minutes") }}

        <div class="pull-left duration-text">Minuten</div>
    </div>
</div>


<script type="text/javascript">
    var now = new Date();
    var time = now.getHours() + ":" + now.getMinutes();
    var clockpicker = $(".clockpicker");

    clockpicker.clockpicker({
        'default': time
    });


    clockpicker.find("input").val(time)
</script>
