{% macro weekdays(classes, type="checkbox") -%}
    <fieldset class="{{ classes }} btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="0">Mo
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="1">Di
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="2">Mi
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="3">Do
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="4">Fr
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="5">Sa
        </label>
        <label class="btn btn-default">
            <input type="{{ type }}" data-value="6">So
        </label>
    </fieldset>
{%- endmacro %}

{% macro to_weekday(day) -%}
    {% if day == 0 %}
        Montag
    {% elif day == 1 %}
        Dienstag
    {% elif day == 2 %}
        Mittwoch
    {% elif day == 3 %}
        Donnerstag
    {% elif day == 4 %}
        Freitag
    {% elif day == 5 %}
        Samstag
    {% elif day == 6 %}
        Sonntag
    {% endif %}
{%- endmacro %}

{% macro time(classes, id) -%}
    <div id="{{ id }}" class="{{ classes }} input-group clockpicker">
        <input type="text" class="form-control" value="09:30">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
{%- endmacro %}
