$nav_text_color: #fff;
$nav_bg_color_active: #1f2f3f;
$nav_bg_color: #293f54;

::-webkit-scrollbar {
    display: none;
}

/*
* Content view
*/

#content {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: left;

  font-size: 24px;
//  font-family: FontAwesome, Verdana, Arial, sans-serifial, serif;
}

/*
 * Main navigation
 */

.garden-docs-nav {
  margin-bottom: 0;
  background-color: $nav_bg_color;
  border-bottom: 0;
}

.garden-docs-nav .navbar-nav > li > a {
  color: $nav_text_color;
}

.garden-docs-nav .navbar-brand {
  color: $nav_text_color;
}

.garden-docs-nav .navbar-nav > li > a:hover,
.garden-docs-nav .navbar-nav > .active > a,
.garden-docs-nav .navbar-nav > .active > a:hover {
  color: $nav_text_color;
  background-color: $nav_bg_color_active;
}

.garden-docs-nav .nav > li > a:focus {
  background-color: #3e5265;
}

.garden-docs-nav .navbar-header .navbar-toggle {
  border-color: $nav_text_color;
}

.garden-docs-nav .navbar-header .navbar-toggle:hover,
.garden-docs-nav .navbar-header .navbar-toggle:focus {
  background-color: $nav_bg_color_active;
  border-color: #f9f9f9;
}

#cogs {
  width: 120px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}


.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: -1px;

  &:nth-of-type(odd):hover, &:hover {
    background: #428bca;
  }

  .list-group-image {
    margin-right: 10px;
  }

  .caption {
    padding: 9px 9px 0 9px;
  }

  &:nth-of-type(odd) {
    background: #eeeeee;
  }

  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.list-group-item-text {
  margin: 0 0 11px;
}